RewriteEngine On
RewriteRule ^content/ - [L] # Ignorar las rutas que comienzan con /content/
RewriteRule ^scripts/ - [L] # Ignorar las rutas que comienzan con /content/
RewriteRule ^vendor/ - [L] # Ignorar las rutas que comienzan con /content/
RewriteCond %{REQUEST_URI} !^/https://wa.me/ [NC]
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]