body {
    display: grid;
    place-content: center;
  }

a { color: black; 
}

.tabla1{
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    border-color: black;
}
.tabla1 th{
    background-color: yellow;
    color: rgb(122, 5, 138);
}
.tabla1 td{
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
}


.tabla2{
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    border-color: black;
}
.tabla2 th{
    background-color: yellow;
    color: rgb(122, 5, 138);
}
.tabla2 td{
    width: 300px;
    height: 120px;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
}



.tabla3{
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    border-color: black;
}
.tabla3 th{
    width: 300px;
    height: 120px;
    background-color: white;
    color: rgb(122, 5, 138);
    margin: 15px;
    padding: 15px;
}
.tabla3 td{
    width: 300px;
    height: 120px;
    background-color: white;
    color: rgb(122, 5, 138);
    text-align: left;
    margin: 15px;
    padding: 15px;
    font-weight:bold;
}