@import url(root.css);
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* --------------------------------------------------- HEADER -----------------------------------------------*/

header.form{
    background-color: var(--color-primario);
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
}
a.regresar {
    color: var(--color-secundario);
    text-decoration: none;
    font-size: 2rem;
    margin-left: 4rem;
}
/* --------------------------------------------------- MAIN -----------------------------------------------*/

main{
    background-color: var(--color-secundario);
    backdrop-filter: blur(2px);
    width: 100%;
    height: calc(100dvh - 7rem);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 1700px;
}
/* --------------------------------------------------- CONTENEDOR DE TODO -----------------------------------------------*/

div.todo{
    position: relative;
}
/* --------------------------------------------------- LA PARTE TRACERA DE LOS TEXTOS -----------------------------------------------*/

div.textos{
    background-color: var(--color-primario);
    width: 726px;
    height: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------------------------------------------- 2 TEXTO -----------------------------------------------*/
div.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 500ms;
    font-family: var(--fuente-principal);
    margin: auto;
}
div.texto h1{
    margin: 0px;
    font-size: 2.2rem;
    width: 200px;
    font-weight: 700;

}
div.texto h2{
    margin: 0px;
    margin-top: 20px;
    color: white;
    font-size: 1.8rem;
    width: 200px;
    font-weight: 300;
}
a.boton{
    width: max-content;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    font-size: 2rem;
}
a.boton:hover{
    color: rgb(3, 0, 199);
    background-color: white;
}

/* --------------------------------------------------- 2 DORMULARIOS -----------------------------------------------*/

.login,
.register{
    max-width: 260px;
    left: 10px;
    background-color: white;
    margin: 0px;
    border-radius: 20px;
    top: 50%; /* Centrar verticalmente */
    transform: translate(-0%, -50%); /* Corregir el centro */
    opacity: 1; /* Inicialmente visible */
    transition:  0.3s ease; /* Transición de opacidad */

}
.login{
    position: absolute;
    padding: 80px 40px;
    left: 200%;

    /* opacity: 0; */
}
.register{
    position: absolute;
    padding: 40px 40px;
    /* opacity: 1; */
}
.login h1,
.register h1{
    font-size: 40px;
    color: rgb(0, 3, 199); 
}
.register input,
.login input{
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(124, 124, 124);
    transition: 200ms;
}
.register input:hover,
.login input:hover{
    border: 2px solid black;
}
.register button,
.login button{
    background-color: white;
    padding: 10px;
    border: 0px;
    border-top: 2px solid rgb(136, 136, 136);
    border-bottom: 2px solid rgb(136, 136, 136);
    transition: 200ms;
}
.register button:hover,
.login button:hover{
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}