@font-face {
    font-family: 'ElegantLux'; /* El nombre que quieras darle a tu fuente */
    src: url('../fuentes/ElegantLux.otf');
  }
:root {
    --color-primario: #01040f;
    --color-secundario: #D5C1A6;
    --color-terceario: #b0bad5;
    --fuente-principal: 'ElegantLux';
    --separación-divs-header: 4rem;
    --ancho-card: 24rem;
}

html{
    font-size: 10px;
}

a{
    text-decoration: none;
}

body {

    background-color: var(--color-secundario);
    margin: 0px;
    padding: 0px;
    font-family: var(--fuente-principal); 
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
}