@import url(root.css);

/* --------------------------------------------------- CONTENIDO -----------------------------------------------*/
main.contenido {
    background-color: rgb(39, 72, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img.market {
    width: 100%;
    /*height: calc(100vh - 7rem);*/
    height: 30rem;
    min-height: 50rem;
    background-repeat: no-repeat;
    object-fit: cover;
}
p {
    margin-bottom: 0px;
}


/* --------------------------------------------------- CATÁLOGO -----------------------------------------------*/

section.catalogo{
    background-color: var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

div.contenido{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: max-content;
    height: max-content;
}
h1.mas-vendidos{
    color: var(--color-primario);
    font-size: 3rem;
    margin: 0;
    margin-bottom: 5rem;
    width: max-content;
    height: max-content;
}
div.catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}
div.fila{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin-bottom: 4rem;
}
div.fila:last-child{
    margin-bottom: 0rem;
}

div.prenda {
    width: var(--ancho-card);
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    margin-left: 4rem;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
}
div.prenda:first-child{
    margin-left: 0rem;
}
div.imagen {
    width: var(--ancho-card);
    height: var(--ancho-card);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
img.prenda {
    height: var(--ancho-card);
    width:  var(--ancho-card);
    transition: 300ms;
}
img.prenda:hover {
    width: calc(var(--ancho-card) + 4rem);
    height: calc(var(--ancho-card) + 4rem);
}
div.texto {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    padding: 1rem;
}
h1.prenda{
    font-size: 20px;
    margin: 5px;
    color: black;
    font-weight: 400;
    width: 180px;
}
p.prenda{
    color: var(--color-primario);
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
    width: 180px;
}



a.regresar:hover {
    color: rgb(0, 38, 255);
}