:root {
    --color-primario: #0C356A
}
html{
    font-size: 10px;
}
body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
/* ---------------------------------------------------------------- CABECERA ------------------------------------------------------*/
header {
    width: 100%;
    height: 7rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center; /* Se mantienen al centro horizontalmente */
}
/* --------------- Contenedor LOGO ------------------- */
div.logo, img.logo {
    width: 7rem;
    height: 7rem;
}
/*----------------- Contenedor Titulo -----------------*/
div.titulo {
    width: 35%;
    padding-left: 1rem;
}
/* Titulo */
h1.titulo{
    color: var(--color-primario);
    font-size: 3rem;
}
/*----------------- Contenedor Busqueda -----------------*/
div.buscador{
    width: 65%;
    padding-left: 1rem;
}
input.buscador{
    width: 45rem;
    height: 4rem;
    padding: 1rem;
    border: solid 2px #bebebe;
    border-radius: 1rem;
    outline: none; /* para que no aparezca la linea negra por defecto */
}
input.buscador:focus{
    border: solid 2px var(--color-primario);
}
/*--------------  Contenedor PERFIL--------------- */
div.perfil{
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 1 */
a.perfil {
    font-size: 20px;
    width: 120px;
    padding: 15px 0px 15px 0px;
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    transition: 300ms;
}
a.perfil:hover {
    background-color: #40F8FF;
    color: black;
}
/* 2 */
/* IMAGEN */
div.foto-perfil {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.foto-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: var(--color-primario) solid 2px;
}
/* NOMBRE */
div.nombre-perfil{
    width: 130px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.nombre-perfil{
    color: var(--color-primario);
    font-size: 20px;
    margin: 0px;
}

/* Navegacion Botones  */
nav.botones {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(134, 134, 134);
    padding-top: 4px;
}

button.boton {
    background-color: white;
    color: black;
    border: 0px;
    border-top: 1px solid rgb(124, 124, 124);
    border-bottom: 1px solid rgb(124, 124, 124);
    margin: 2px 5px 2px 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
button.boton:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* --------------------------------------------------- CONTENIDO -----------------------------------------------*/
main.contenido {
    background-color: rgb(39, 72, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img.market {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    object-fit: cover;
}
p {
    margin-bottom: 0px;
}
/* ------------------------------------------------------------ PIE --------------------------------------- */
footer.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(179, 179, 179);
    padding: 20px;
}
footer.contenido p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
a.nosotros {
    color: rgb(77, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}
a.nosotros:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(252, 252, 252);
}