@import url(root.css);

/* --------------------------------------------------- CONTENIDO -----------------------------------------------*/
main.contenido {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: var(--fuente-principal);
    text-align: center;
}

img.market {
    width: 100%;
    /*height: calc(100vh - 7rem);*/
    height: 30rem;
    min-height: 50rem;
    background-repeat: no-repeat;
    object-fit: cover;
}
p {
    margin-bottom: 0px;
}

