main.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.producto{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border: 10px solid rgb(28, 32, 255);
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
}
img.producto {
    width: 250px;
    border-radius: 50px;
    margin: 30px;
}
div.texto {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1.producto {
    font-size: 30px;
    margin: 20px;
}
p.producto {
    font-size: 20px;
    margin: 20px;
    text-align: left;
}
input {
    width: 50px;
    font-size: 20px;
    text-align: right;
}
button.producto {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 5px solid rgb(28, 51, 255);
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    transition: 500ms;
}
button.producto:hover {
    background-color: rgb(48, 79, 252);
    color: white;
}
a.regresar {
    color:white;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}
a.regresar:hover {
    color:rgb(0, 47, 255);
}