body {
    background-color: white;
    margin: 0px;
}
/* ---------------------------------------------------------------- CABECERA ------------------------------------------------------*/
header.contenido{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 150px;
}
/* -------------------- Primera Seccion ----------------------*/
section.titulo {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 150px;
}
/* Contenedor LOGO */
div.logo {
    width: 150px;
    height: 150px;
}
img.logo {
    width: 150px;
    height: 150px;
}
/* Contenedor Nombre */
div.nombre {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nombre h1{
    font-family: Arial, Helvetica, sans-serif;
}
.nombre h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 87, 87);
}
/* Contenedor PERFIL */
div.perfil{
    padding: 5px;
    width: 150px;
    height: 150px;
}
img.perfil{
    width: 90px;
    height: 90px;
    margin: 5px;
}


/* Fuera */
a.login{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/* --------------------------------------------------- CONTENIDO -----------------------------------------------*/
main.contenido {
    background-color: rgb(126, 71, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
div.botones {
    background-color: white;
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
}
p.botones{
    margin: 30px;
    padding: 0px;
}
a.indice{
    text-decoration: none;
    background-color: white;
    border: 5px solid rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 30px;
    margin: 0px;
}
a.indice:hover{
    font-weight: bold;
    color: rgb(76, 0, 255);
}

img.market {
    width: 50%;
    border-radius: 50px;
    margin: 50px;
    border: 10px solid white;
}

/* PIE */
footer.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
footer.contenido p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
a.nosotros {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}
a.nosotros:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(76, 0, 255);
}